@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0%;
}


.masonry-grid {
  column-count: 4;
  column-gap: 1rem;

}
.masonry-grid3 {
  column-count: 2;
  column-gap: 3rem;

}
.poster-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 94vh;
 
}
.plexMono {
  font-family: var(--font-ibm-plex-mono)
}
.plexSans {
  font-family: var(--font-ibm-plex-sans)
}
.custom-link{
  display: flex;
padding-bottom: 6px;
align-items: center;
gap: 6px;
border-bottom: 3px solid #0019FF;
}
.poster {
  max-height: 84vh;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}
.masonry-grid .masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .masonry-grid {
    column-count: 2;
  }
  
}
form{
  font-family: var();
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
